body {
  overflow-x: hidden;
  height: 80vh;
  width: 80vw;
}

.sidenav {
  height: 110vh;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(20 25 59);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 5px 5px 10px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  font-size: 25px;
  font-family: var(--font-family-poppins);
}
.sidenav p {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  font-size: 25px;
  font-family: var(--font-family-poppins);

  font-weight: 800;
}

.sidenav a:hover {
  background-color: rgb(164, 90, 189);
}
.logout {
  position: relative;
  top: 395px;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.title {
  letter-spacing: 0.3px;

  position: relative;
  left: 22%;
  font-family: var(--font-family-poppins);
  font-size: 30px;
}
#Changepassword {
  letter-spacing: 0.3px;

  position: relative;
  left: 22%;
  font-family: var(--font-family-poppins);
  font-size: 20px;
}
#RepeatPass {
  letter-spacing: 0.3px;

  position: relative;
  left: 22%;
  font-family: var(--font-family-poppins);
  font-size: 15px;
}
#NewPassword {
  border-radius: 40px;
  padding: 15px;
  background-color: #cccccc;
  overflow: auto;
  width: 60%;
  position: relative;
  left: 22%;
  border: none;
}

#Repeat {
  border-radius: 40px;
  padding: 15px;
  background-color: #cccccc;
  overflow: auto;
  width: 60%;
  position: relative;
  left: 22%;
  border: none;
}
#DeleteAcc {
  letter-spacing: 0.3px;
  line-height: 45px;
  position: relative;
  left: 22%;
  font-family: var(--font-family-poppins);
  font-size: 20px;
}
#DeleteEmail {
  letter-spacing: 0.3px;

  position: relative;
  left: 22%;
  font-family: var(--font-family-poppins);
  font-size: 15px;
}
#DeletePassword {
  letter-spacing: 0.3px;

  position: relative;
  left: 22%;
  font-family: var(--font-family-poppins);
  font-size: 15px;
}
#DeleteEmailAddress {
  border-radius: 40px;
  padding: 15px;
  background-color: #cccccc;
  overflow: auto;
  width: 60%;
  position: relative;
  left: 22%;
  border: none;
}
#DeletePass {
  border-radius: 40px;
  padding: 15px;
  background-color: #cccccc;
  overflow: auto;
  width: 60%;
  position: relative;
  left: 22%;
  border: none;
}

.rectangle {
  background-color: #151939;
  border-radius: 10px;
  left: 22%;
  position: relative;
  top: 30px;
  width: 150px;
  color: white;
  white-space: nowrap;
  font-family: var(--font-family-poppins);
  letter-spacing: 0.15px;
  font-size: 15px;
  text-align: center;
  padding: 10px 0px;
  margin-bottom: 40px;
}

.DeleteAccountBox {
  left: 314px;
  letter-spacing: 0.15px;
  position: relative;
  top: -5px;
  white-space: nowrap;
  width: 100px;
  font-family: var(--font-family-poppins);
  color: white;
  font-size: 15px;
}
:root {
  --black: rgba(0, 0, 0, 1);
  --haiti: rgba(20, 25, 59, 1);
  --raven: rgba(102, 122, 138, 1);
  --porcelain: rgba(239, 242, 244, 1);
  --white: rgba(255, 255, 255, 1);

  --font-size-s: 12.2px;
  --font-size-m: 15px;
  --font-size-l: 24px;
  --font-size-xl: 80px;
  --font-size-xxl: 90px;

  --font-family-poppins: "Poppins";
}

.poppins-semi-bold-white-15px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 600;
  font-style: normal;
}

.poppins-normal-porcelain-15px {
  color: var(--porcelain);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
